<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookstore.mapper.AdminMapper">
	<select id="getAdminByName" parameterType="string" resultType="com.bookstore.entity.Admin">
		select * from admin where admin_name = #{adminName}
	</select>

	<delete id="deleteUser" parameterType="string">
		delete from user where user_name = #{userName}
	</delete>
	
	<update id="modifyUserPwd" >
		update user
			set password = MD5(#{password})
			where user_name = #{userName} 
	</update>
	
	<insert id="addBook">
		insert into book values(#{book.isbn},#{book.title},#{book.author},#{book.publisher},#{book.summary},#{book.originalPrice},#{book.imgUrl});	
		insert into book_price values(#{bookPrice.isbn},#{bookPrice.degree},#{bookPrice.actualPrice},#{bookPrice.num});
	</insert>
	
	<update id="updateBook" statementType="CALLABLE">
		call update_book(#{isbn},#{degree},#{num},#{actualPrice})
	</update>
	
	<update id="deleteBook">
		update book_price
			set num = 0
			where isbn = #{isbn} and degree = #{degree}
	</update>
</mapper>