<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookstore.mapper.CommonMapper">
	<select id="getBookByIsbn" parameterType="string" resultType="com.bookstore.entity.Book">
		select * from book where isbn = #{isbn};
	</select>
	
	<select id="getBookByIsbnAndDegree" resultType="com.bookstore.entity.BookPrice">
		select isbn,degree,actual_price,num from book_price where isbn = #{isbn} and degree = #{degree};
	</select>
	
	<select id="getBookDegreesByIsbn" parameterType="string" resultType="integer">
		select degree from book_price where isbn = #{isbn}
	</select>
	
	<select id="getBooks" resultType="com.bookstore.entity.Book">
		select * from book
			limit #{index},#{size}
	</select>
	
	<select id="getBookCount" resultType="_int">
		select count(*) from book
	</select>
	
	<select id="getBooksByKeyWord" resultType="com.bookstore.entity.Book">
		select * from book
			where title like concat('%',#{keyWord},'%') or summary like concat('%',#{keyWord},'%')
			limit #{index},#{size}
	</select>
</mapper>