<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookstore.mapper.TrolleyMapper">
	<insert id="insertTrolley">
		INSERT INTO trolley 
		VALUES(#{user_name}, #{isbn}, #{degree}, #{num})
	</insert>
	
	<delete id="deleteTrolley">
		DELETE FROM trolley 
		WHERE user_name = #{user_name} 
		AND isbn = #{isbn} 
		AND degree = #{degree} 
	</delete>
	
	<update id="updateTrolley">
		UPDATE trolley
		SET num = #{num}
		WHERE user_name = #{user_name}
		AND isbn = #{isbn}
		AND degree = #{degree}
	</update>
	
	<select id="selectTrolley" resultType="com.bookstore.entity.Trolley">
		SELECT user_name, isbn, title, img_url, bp.degree, t.num, bp.actual_price
		FROM ((trolley t JOIN book_price bp USING(isbn, degree))
		JOIN book k USING(isbn)) 
		JOIN `user` u USING(user_name)
		WHERE t.user_name = #{user_name}
	</select>
	
	<select id="getActualPrice" resultType="double">
		SELECT actual_price 
		FROM book_price
		WHERE isbn = #{isbn} AND degree = #{degree}
	</select>
	
	<insert id="insertOrder" keyProperty="orderId" useGeneratedKeys="true">
		INSERT INTO `order`(user_name, address, order_time, status, money)
		VALUES(#{userName}, #{address}, #{orderTime}, #{status}, #{money})
	</insert>
	
	<insert id="insertOrderBook">
		INSERT INTO order_book
		VALUES(#{order_id}, #{degree}, #{isbn}, #{unit_price}, #{num})
	</insert>
	
	<select id="getOrderBook" resultType="com.bookstore.entity.Trolley4Pay">
		SELECT isbn, degree, num
		FROM order_book
		WHERE order_id = #{order_id}
	</select>
	
	<insert id="insertOrderPayment">
		INSERT INTO order_payment
		VALUES(#{order_id}, #{payment_id})
	</insert>
	
	<select id="getOrderId" resultType="integer">
		SELECT order_id FROM order_payment 
		WHERE payment_id = #{payment_id}
	</select>
	
	<select id="getPaymentId" resultType="string">
		SELECT payment_id FROM order_payment
		WHERE order_id = #{order_id}
	</select>
</mapper>